# iCanteen Build Tools (Heavy)
jdk-17/
android-sdk/
gradle-*/
*.zip

# Android Build Artifacts
icanteen-android/.gradle/
icanteen-android/app/build/
icanteen-android/local.properties
/icanteen-android/.navigation/
/icanteen-android/.externalNativeBuild/
/icanteen-android/.cxx/

# Keystores & Secrets
*.jks
/debug.keystore

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Temp & Backups
/tmp/
*.bak
*.swp
*.log
/iCanteen.apk
